#!/usr/bin/env bash

if [ -z "$CI" ]; then
    PATH_add "/opt/homebrew/opt/ruby/bin"
fi

# Download and install asciidoctor-client if not already installed
if [ -z "$CI" ]; then
  # https://github.com/hybras/asciidoctor-server/releases/download/v0.4.4/asciidoctor-client-aarch64-apple-darwin.tar.gz
  ASCIIDOCTOR_CLIENT_VERSION="v0.4.4"
  ASCIIDOCTOR_URL="https://github.com/hybras/asciidoctor-server/releases/download/$ASCIIDOCTOR_CLIENT_VERSION/asciidoctor-client-aarch64-apple-darwin.tar.gz"
  ASCIIDOCTOR_CLIENT_BIN="$HOME/.direnv/bin/asciidoctor-client"
  CLIENT_SHA="sha256-3vcNgVkhgzdRsOgDEeWb1pVEhNCf2S2dBdb/2dkROZ4="
  tar=$(fetchurl "$ASCIIDOCTOR_URL" "$CLIENT_SHA")

  if [ ! -f "$ASCIIDOCTOR_CLIENT_BIN" ]; then
    mkdir -p "$PWD/.direnv/bin"
    TMP_TAR="$(mktemp)"
    tar -xz -C "$PWD/.direnv/bin" -f "$tar"
    rm -f "$TMP_TAR"
  fi
fi

layout go
layout ruby

PATH_add "./scripts"

if [ -z "$CI" ]; then
  export HUGO_CACHEDIR="${XDG_CACHE_HOME:-$TMPDIR}/hugo_cache"
fi
