#!/usr/bin/env bash

PATH_add "/opt/homebrew/opt/ruby/bin"

layout go
layout ruby

PATH_add "./scripts"

if [ -n "$CI" ]; then
    exit 0
fi

# local development
export HUGO_CACHEDIR="${XDG_CACHE_HOME:-$TMPDIR}/hugo_cache"
