#!/usr/bin/env bash

if [ -z "$CI" ]; then
    PATH_add "/opt/homebrew/opt/ruby/bin"
fi

layout go
layout ruby

PATH_add "./scripts"

if [ -z "$CI" ]; then
  export HUGO_CACHEDIR="${XDG_CACHE_HOME:-$TMPDIR}/hugo_cache"
fi
