{{ $missing_src := "missing value for 'src': %s" }}
{{ $missing_0 := "missing value for positional param '0' (corresponds to 'src' ): %s" }}
{{ $src := "" }}

{{ if .IsNamedParams }}
    {{ with .Get "src" | safeURL}}{{ $src = . }}
    {{ else }}{{ errorf $missing_src .Position }}
    {{ end }}
{{ else }}
    {{ if len .Params | eq 1 }}{{ $src = .Get 0}}
    {{ else }}{{ errorf $missing_0 .Position }}
    {{ end }}
{{ end }}

<div id="{{ $src }}"></div>


{{ if .IsNamedParams }}
<script>
    AsciinemaPlayer.create(
        "{{ $src }}",
        document.getElementById("{{ $src }}"),
        {
            {{ if .Get "cols" }}cols: {{ .Get "cols" }}, {{ end }}
            {{ if .Get "rows" }}rows: {{ .Get "rows" }}, {{ end }}
            {{ if .Get "autoplay" }}autoplay: {{ .Get "autoplay" }}, {{ end }}
            {{ if .Get "preload" }}preload: {{ .Get "preload" }}, {{ end }}
            {{ if .Get "loop" }}loop: {{ .Get "loop" }}, {{ end }}
            {{ if .Get "start-at" }}startAt: {{ .Get "start-at" }}, {{ end }}
            {{ if .Get "speed" }}speed: {{ .Get "speed" }}, {{ end }}
            {{ if .Get "idle-time-limit" }}idleTimeLimit: {{ .Get "idle-time-limit" }}, {{ end }}
            {{ if .Get "theme" }}theme: "{{ .Get "theme" }}", {{ end }}
            {{ if .Get "poster" }}poster: "{{ .Get "poster" }}", {{ end }}
            {{ if .Get "fit" }}fit: "{{ .Get "fit" }}", {{ end }}
            {{ if .Get "font-size" }}fontSize: "{{ .Get "font-size" }}", {{ end }}
        }
    )
</script>
{{ else }}
    <script>AsciinemaPlayer.create("{{ $src }}", document.getElementById("{{ $src }}"));</script>
{{ end }}
